footer.footer
   //- .container
   .footer-content
      .footer-content_Block
         p.footer-content_text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
      .footer-content_Block 
         +nav('footer-nav',{  "Мои работы":"my-works.html",
                              "Обо мне":"about-me.html",
                              "Блог":"blog.html",
                              "Авторизация":"index.html"})
         .footer-socials
            +socials
      .footer-content_Block
         p.footer-content_text Skype: ungers37
         p.footer-content_text ounger@inbox.ru
         p.footer-content_text +7 921 441 66 75
         p.footer-content_text Санкт-Петербург
   .footer-bottom
      p.footer-content_text
         |  &copy; | Олег Унгер | Создано с любовью в Loftschool | 2016