section.headerSection
	.container
		.header
			.header_top
				.header-socials
					+socials
					
				button.fullScreenMenu-btn(type="button")
					span
	
			include _user
			a.arrow.arrow--down(href="#content")
				svg.arrow_icon
					use(xlink:href="assets/img/sprite1/sprite.svg#arrow_down")
	