extends ../_template
block title 
  title Мои работы

block variables

block content
  - var current="Блог"
  - var title=current
  include ../blocks/header

  section.blog#content
    .triangles
      .blockSVG
        svg.triangle.triangle--left(viewbox='0 0 300 160', preserveaspectratio='none')
          polygon(points='0,160 0,0 300,160')
      .blockSVG
        svg.triangle.triangle--right(viewbox='0 0 300 160', preserveaspectratio='none')
          polygon(points='0,160 300,0 300,160')
    

    .blog_wrap
      
      aside.blog_menu
        .before
        +nav("blog-nav", {"Магия flex-box против дубовых шкафов":"#one",
                          "Приемы в верстке, без которых не обходится ни один сайт":"#two",
                          "Самый необходимый набор Gulp плагинов":"#three",
                          "Почему я выбрал PUG":"#four"})
      main.blog_content

        article.blog_article(data-article="one")
          h3.content_title Магия flex-box против дубовых шкафов.
          span.blog_date  20 декабря 2016
           
          p.content_text

             | Говорят, раньше сайты верстались при помощи
             del  глиняных дощечек
             | Тяжелое, должно быть, было время. Год назад, когда я только начинал свои первые робкие
             | шаги в веб разработке, нас на курсе для начинающих обучали традиционно, что позиционирование
             | элементов осуществляется при помощи margin, padding, float, inline-block и т.д. Вкратце упомянули
             | про flex-box, добавив при этом, что метод этот очень хорош но, к сожалению, еще не везде поддерживается,
             | поэтому использовать его нужно с осторожностью, а лучше пока не использовать вовсе. Наконец, настало время
             | и теперь старая верстка, тем более табличная, кажется громоздким бабушкиным дубовым шкафом в сравнении с
             | антигравитационными капсулами flex-box. Flex метод позволяет, наконец, избавиться от многочисленных оберток
             | и оберток для оберток контейнеров и элементов, которые до этого позиционировали свое содержимое в пространстве
             | страниц сайта, и использовать их только при необходимости. 
          .blog_img
             a(href="assets/img/blog/001.png")
                img(src="assets/img/blog/001.png")
            
          p.content_text
             | Магия - это слово в веб разработке я слышу довольно часто. Когда ты своими нехитрыми действиями заставляешь оживать
             | статичные виртуальные объекты - это чем-то похоже, пока не начнешь воспринимать это обыденно. Флексы творят свою магию,
             | заставляя элементы растягиваться и сжиматься, перемещаться, меняясь местами и располагая их в пространстве без
             | использования распорок, костылей и домкратов. 
          .blog_img
             img(src="assets/img/blog/12.jpg") 

          p.content_text      
             | Только захоти - и элементы выстроятся в ряд. Трах-тибидох! - и они расположились колонкой, вот они уже парят кучкой
             | в центре или размазались по краям. И никакой магии, just flex-box! 
              
          .blog_img
             a(href="assets/img/blog/flex.png")
                img(src="assets/img/blog/flex.png")     
          p.content_text.content_text-center
             a(href="http://the-echoplex.net/flexyboxes/" target="blank_") Поколдовать
              
          
        article.blog_article(data-article="two")
          h3.content_title Приёмы в вёрстке, без которых не обходится ни один сайт
          span.blog_date 13 ноября 2016
          p.content_text
             | Таким образом начало повседневной работы по формированию позиции позволяет выполнять
             | важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый
             | опыт новая модель организационной деятельности играет важную роль в формировании новых
             | предложений. Товарищи! новая модель организационной деятельности играет важную роль в
             | формировании систем массового участия.
          p.content_text
             | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому
             | кругу (специалистов) участие в формировании систем массового участия. Идейные соображения
             | высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу
             | (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных
             | задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки
             | и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой
             | процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        article.blog_article(data-article="three")
          h3.content_title Самый необходимый набор Gulp плагинов
          span.blog_date 22 ноября 2016
          p.content_text
             | Таким образом начало повседневной работы по формированию позиции
             | позволяет выполнять важные задания по разработке направлений прогрессивного
             | развития. Разнообразный и богатый опыт новая модель организационной деятельности
             | играет важную роль в формировании новых предложений. Товарищи! новая модель
             | организационной деятельности играет важную роль в формировании систем массового участия.
          p.content_text
             | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает
             | широкому кругу (специалистов) участие в формировании систем массового участия.
             | Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает
             | широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками
             | в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера
             | нашей активности способствует подготовки и реализации модели развития. С другой стороны
             | рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров,
             | соответствует насущным потребностям.
          .codeExemple
        article.blog_article(data-article="four")
          h3.content_title Почему я выбрал PUG
          span.blog_date 13 ноября 2016
          p.content_text
             | Таким образом начало повседневной работы по формированию позиции позволяет выполнять
             | важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый
             | опыт новая модель организационной деятельности играет важную роль в формировании новых
             | предложений. Товарищи! новая модель организационной деятельности играет важную роль в
             | формировании систем массового участия.
          p.content_text
             | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому
             | кругу (специалистов) участие в формировании систем массового участия. Идейные соображения
             | высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу
             | (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных
             | задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки
             | и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой
             | процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    
    include ../blocks/footer

  include ../blocks/_fullScreenMenu
    +nav("fullScreenMenu-nav", {"Мои работы":"my-works.html",
                                "Обо мне":"about-me.html",
                                "Блог":"blog.html",
                                "Авторизация":"index.html"})  


block scripts
  script(src='assets/js/foundation.js' defer)
  script(src='assets/js/app.js' defer)